<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cuatro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>card Subtitulo</ion-card-subtitle>
      <ion-card-title>Card Titulo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Texto para describir el elemento mencionado en el titulo
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/playa.jpg" alt="" srcset="">
    <ion-card-header>
      <ion-card-subtitle>Playa Colombia</ion-card-subtitle>
      <ion-card-title>San Andrés Colombia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Islas del Caribe Colombiano con aguas cálidas para pasar todo el día 
    </ion-card-content>
    <a href="https://www.viajesfalabella.cl/trip/accommodations/results/PCd59fcea5626a4f0cacc0de338b10bd4a28213350?searchParams=RkgvQ0lUXzY2MjQvQ0lUXzg5LzIwMjMtMTAtMTcvMjAyMy0xMC0yMi9DSVRfODkvMjAyMy0xMC0xNy8yMDIzLTEwLTIyLzJ8SDA6SCxGMTpGLFhTOlhT&flow=FH&tripItem=H0&stepNum=0&from=recommendation&from=recommendation&rs=SUCCESS&priceDate=1692800624684&typeCodePackage=ADZ&searchId=c7ab482e-f346-484d-936b-e4e627d8de3c&package_id=eb2f6ac834bf88bf75cdb8073cf13fc64789bdcf50f39ca8b0948e1c4578481d&clickedPrice=CLP_626725&hotelid=330479&tp=eyJJbnMiOjE2OTI4MDA5OTYzNjQsIklyIjo1MTY0fQ%3D%3D">
      Ver precios
    </a>
  </ion-card>

</ion-content>
