<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <input type="number" [(ngModel)]="numero1"><br>
  <ion-button (click)="abrirSegundaPagina()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    Navigate
  </ion-button>
  <ion-button (click)="abrirSegundaPagina2()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    Navigate by Url
  </ion-button>
  <ion-button (click)="abrirSegundaPagina3()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    Navigate enviar valor por parametro
  </ion-button>

  <h1>Envio de valor vía link</h1>
  <a href="/segunda/1500">Enviar un valor a segunda</a>


  <h1>Listado</h1>
  <a href="tercera-listado">Listado</a>
  <br>
  <h1>Ejemplo Storage</h1>
  <a href="cuarta">Ver Ejemplo</a>

  <h1>Crud Storage (con servicio)</h1>
  <a href="quinta">Ver Ejemplo</a>
</ion-content>
